{% load i18n %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
    <head>
        <meta charset="utf-8">
        <title>{% translate "The install worked successfully! Congratulations!" %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
      <main>
        <div class="row">
            <div class="column profile-image">
                
            </div>
            <div class="column detail">
                <div class="container">
                    <h1>{{ title }}</h1>
                    <p class="caption">{{ caption }}</p>
                    <p>{{ desc }}</p>
                    <p class="subscribe">Interesting? subscribe me!</p>


                    <form action="." method="POST">
                        {% csrf_token %}
                        {{ form.email }}
                        <button type="submit">Subscribe</button>
                    </form>
                    <p class="footer accent text-right">{{ name }}</p>
                </div>
            </div>
        </div>
      </main>
    </body>
</html>
